<div class="profile-page">
    <form *ngIf="currentUser != null" [formGroup]="formGroup">
        <h2>Role: {{ currentUser.role | roleToString }}</h2><br><br>
        <div class="row g-3">
            <div class="col">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col">
                <label class="form-label">Nome completo</label>
                <input type="text" class="form-control" formControlName="namefull">
            </div>
        </div>
        <br>
        <div class="row g-3">
            <div class="col">
                    <label class="form-label">Senha</label>
                    <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="col">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
        </div>
        <br>
        <div class="row g-3">
            <div class="col-6">
                <label class="form-label">Telefone</label>
                <input type="text" class="form-control" formControlName="cellphone">
            </div>
            <div class="col-3">
                <button type="button" (click)="updateUser()" class="btn btn-primary" style="background-color: #5BC6DD;">
                    <mat-icon>edit</mat-icon>
                    <span>Redefinir senha</span>
                </button>
            </div>
            <div class="col-3">
                <button type="button" (click)="deleteUser()" class="btn btn-primary" style="background-color: #DD5B5B;">
                    <mat-icon>delete</mat-icon>
                    <span>Excluir conta</span>
                </button>
            </div>
        </div>
    </form>
</div>
