.profile-page {
    padding: 3rem;
}

button.btn {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    mat-icon {
        margin-right: 0.5rem;
    }
}