<form [formGroup]="formGroup">
    <!--* Linha 1 -->
    <div class="row pb-2">
        <!--* ID -->
        <div class="col-2 pr-0">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" formControlName="id">
        </div>

        <!--* Role -->
        <div class="col-2 pr-0">
            <label class="form-label">Role</label>
            <input type="number" class="form-control" formControlName="role">
        </div>

        <!--* Nome -->
        <div class="col-8">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
    </div>

    <!--* Linha 2 -->
    <div class="row pb-2">
        <!--* Senha -->
        <div class="col-4 pr-0">
            <label class="form-label">Senha</label>
            <input type="text" class="form-control" formControlName="password">
        </div>

        <!--* Email -->
        <div class="col-8">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
    </div>

    <!--* Linha 3 -->
    <div class="row justify-content-center">
        <!--* BTN - Confirm -->
        <div class="col-3">
            <button [disabled]="formGroup.invalid" type="button" (click)="onSubmit()" class="btn btn-primary btn-confirm">
                <span>Confirmar</span>
            </button>
        </div>
        <!--* BTN - Cancel -->
        <div class="col-3">
            <button type="button" (click)="onClose()" class="btn btn-primary btn-cancel">
                <span>Cancelar</span>
            </button>
        </div>
    </div>
</form>